<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885386853518-s9kfhni76a5pijb69475dbj0shpueoq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885386853518-s9kfhni76a5pijb69475dbj0shpueoq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBApdqcAsiXaK3ApzjH3Gk6dDT4svII7Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>885386853518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ayaz.CarRentalApp</string>
	<key>PROJECT_ID</key>
	<string>carrentalapp-1ecf5</string>
	<key>STORAGE_BUCKET</key>
	<string>carrentalapp-1ecf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885386853518:ios:c0eaf99c728d1447bb5ddf</string>
</dict>
</plist>